 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

*

'hello'

-87.8

-

/

+

6

In [ ]:
Ans :- 

*       => Expression

'hello' => Value

-87.8   => Value

-       => Expression

/       => Expression

+       => Expression

6       => Value

2.What is the difference between string and variable?

In [ ]:
Variable 

-> Variable is a reserved memory location to store various types of data like integer,string,boolean,etc.

String

-> String is a type of data we would store in a variable,It is a type of Variable data.

3.Describe three different data types.

In [ ]:
1. Integers
    
    -> It contains positive or negative whole numbers without fractions.
        ex:-  10,-5,0

2. Float

    -> It represents floating point number(contain decimal point)
        ex. -134.5, 9.999 etc.
        
    -> It also represent scientific numbers with an "e" or "E" to indicate the power of 10.
        ex. 5e4, 9E7, -199e5 etc.
        
3.Complex

    -> It is represented as (RealPart)+(ImaginaryPart)j
        ex:-  -3+5j , 4-5j

4. Boolean
    
    -> It contains two value True or False.
    -> True means 1 and False means 0.

5. String

    -> String is a sequence of characters and put sequence of character in single or double quotes.
    -> String is immutable means cannot change the element of given string.
    ex:- "Full Stack Data Science",'Full Stack Data Science',"It's full stack data science course."

6. List

    -> List items are ordered , mutable(can change element of List).
    -> List represented in square brackets.
    -> It is flexible because items in a list do not need to be the same datatypes.
    -> List items are indexed,to access first element myList[0],second element myList[1]
    ex:-
        myList = [1,1.5,2+4j,True,"Python",["hello",4],("hello",5),{"key1":1,"key2":2},{1,2,3,4,5}]
        
7. Tuple 

    -> Tuple items are ordered and immutable (cannot change element of Tuple).
    -> Tuple represented in round brackets.
    -> It is flexible because items in a tuple do not need to be the same datatypes.
    -> Tuple items are indexed,to access first element myTuple[0],second element myTuple[1]
    ex:-
        myTuple = (1,1.5,2+4j,True,"Python",["hello",4],("hello",5),{"key1":1,"key2":2},{1,2,3,4,5})
        
8. Set

    -> Set items are unordered and immutable(cannot change element of Set).
    -> Set do not store duplicate values.
    -> Set epresented in curly brackets.
    ex:-
        mySet = {1,2.5,"hello"}

9. Dictionary

    -> Dictionary are ordered, mutable(can change element in dictionary).
    -> Dictionary store data values in key:value pairs.
    -> Dictionary do not allowed duplicate keys.
    ex:-
        myDict = {
            "Course" : "Full Stack Data Science",
            "Batch" : 2023
        }

4. What is an expression made up of? What do all expressions do?

In [ ]:
-> Expression is made up of operators and operands and it interpreted to produce some value.
-> It is evaluated as per the precedence of its operator if there is more than one operator in an expression.

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [ ]:
spam=10
    -> It is a statement.
-> Expression is made up of values, containers, operands.
    ex: Sum = 10+5*2 
-> The statement is just like a command that a python interpreter executes like print.
    ex: spam = 10 , print("Hello there!")

6. After running the following code, what does the variable bacon contain?
    bacon = 22
    bacon + 1

In [ ]:
-> After running the code variable bacon contain value 22. 
-> If there is following code
    
    bacon = 22
    bacon = bacon+1
    
    then bacon contain value 23.

7. What should the values of the following two terms be?
    'spam'+'spamspam'
    'spam'*3

In [ ]:
-> 'spam'+'spamspam' It will concat two string 'spam' and 'spamspam' so output is 'spamspamspam'

-> 'spam' * 3 It is interpreted as three-times 'spam' so output is 'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
Rule for variable name:
    
-> A variable name must start with alphabetic character or the underscore character
-> A variable name cannot start with a number
-> A variable name can only contain alpha-numeric characters and underscores

-> In eggs it contain only alphabetic character so it is valid.
-> In 100 it start with numeric chracter so it is not valid.

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [ ]:
-> To get integer int()
-> To get floating-point number float()
-> To get string str()

10. Why does this expression cause an error? How can you fix it?
    'I have eaten ' + 99 + ' burritos'

In [ ]:
-> It will raise TypeError because we cannot concat string (not with integer) with string.

->To fix this error :
    
    1. 'I have eaten ' + '99' + ' burritos'
    
    2. 'I have eaten ' + str(99) + ' burritos'
    
    both has same output : 'I have eaten 99 burritos', we can fix these in both way.